body {
  transition: 0.5s;
}

#theme-button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #191970;
  background-size: 200% 100%;
  cursor: pointer;
  transition: background-position 0.2s ease;
}

.dark-theme {
  background: #000;
  color: #ddd;
}
