body {
    text-align: center;
}
h1 {
    background: #ffc;
    color: #fff;
    border: 8px solid #080;
    display: inline-block;
    padding: 4rem 2rem;
    width: 80%;
}
span {
    background: #f34;
    display: inline-block;
    padding: 2rem 1rem;
    width: 50%;
}