.menu {
    position: relative;
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
}
.menu a {
    color: #0bd;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.4s;
}
.sub-menu {
    position: absolute;
    z-index: 2;
    top: 2.5rem;
    padding: 0;
    list-style: none;
    background: #0bd;
    font-size: 1rem;
}
.sub-menu a {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
}
.sub-menu a:hover {
    background-color: #05b;
}
.menu-click .sub-menu {
    transition: scale 0.4s;
    transform-origin: center top;
    scale: 1 0;
}
.menu-click .sub-menu.active {
    scale: 1;
}