body {
  text-align: center;
  padding: 2rem;
}
label {
  display: block;
  margin-bottom: 1rem;
}
#submit-button {
  background: #1d8;
  color: #ddd;
  padding: 0.75rem 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
}
#submit-button:disabled {
  background: #ccc;
}
