#more-collection-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: white;
    background: linear-gradient(90deg, #0bd, #0f0);
    background-size: 200% 100%;
    cursor: pointer;
    transition: background-position 0.2s ease;
}